<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>780470546450-56s93o5hga496qbhbh2mc53nfi1lo3fa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.780470546450-56s93o5hga496qbhbh2mc53nfi1lo3fa</string>
	<key>API_KEY</key>
	<string>AIzaSyDsOeJDWvZCn9mSPYi8un6n5cO8pJ_Unfk</string>
	<key>GCM_SENDER_ID</key>
	<string>780470546450</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myiosapps.TercihKilavuzu2022</string>
	<key>PROJECT_ID</key>
	<string>tercihkilavuzu2022</string>
	<key>STORAGE_BUCKET</key>
	<string>tercihkilavuzu2022.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:780470546450:ios:ade75e003439f7b0cbe8cb</string>
</dict>
</plist>